<div class="container">
    <div class="row">
        <div class="col-md-4">
            <details open="open" class="facet">
                <summary>Category</summary>
                <ul>
                    <li *ngFor="let f of categories">
                        <input [(ngModel)]="f.checked" type="checkbox" id="{{ f.name }}" (click)="facetSearch(searchBox.value, 'category', f.name)">
                        <label for="{{ f.name }}">{{ f.name }}</label>
                    </li>
                </ul>
            </details>
            <details open="open" class="facet">
                <summary>Topic</summary>
                <ul>
                    <li *ngFor="let t of topics">
                        <input [(ngModel)]="t.checked" type="checkbox" id="{{ t.name }}"
                            (click)="facetSearch(searchBox.value, 'topics', t.name)">
                    <label for="{{ t.name }}">{{ t.name }}</label>
                    </li>
                </ul>
            </details>
        </div>

        <div class="col-md-8">

            <div class="row search">
                <form id="search-box" class="form-inline">
                    <div class="col-md-8">
                        <input class="form-control" #searchBox id="search-input" name="keywords"
                            [(ngModel)]="searchInput" placeholder="Search by keyword..."
                            aria-label="Search" autofocus />
                    </div>
                    <div class="col-xs-2">
                        <label for="searchSubmit">
                            <button name="searchSubmit" class="primary"
                                (click)="textSearch(searchBox.value)">Search</button>
                        </label>
                    </div>
                    <div class="col-xs-2">
                        <label for="resetSubmit">
                            <button name="resetSubmit" class="secondary"
                                (click)="reset()">Reset</button>
                        </label>
                    </div>
                </form>
            </div>

            <div *ngIf="!repository || repository.length === 0">
                <p>No testimonios match the search criteria.</p>
            </div>
            <div *ngIf="repository || repository.length > 0">
                <p>Matching results: {{repository.length}}</p>
            </div>
            <div class="result" *ngFor="let r of repository">
                <a routerLink="/testimonio/{{r.path}}">
                    <h2>{{r.title}}</h2>
                    <h3>{{r.author}}</h3>
                    <div class="summary">{{r.summary}}</div>
                    <div class="metadata">
                    {{r.date }} | <strong>Category:</strong> {{r.category}} | <strong>Topics:</strong> {{r.topics}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
