<header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/" class="title">Testimonios</a><br />
          <strong>A project from the University of Arizona, funded by the National Endowment for the Humanities</strong>
        </div>
      </div>
    </div>
  </section>
</header>
<div class="container nav">
  <div class="row">
    <div class="col-md-5">
      <a href="#">About</a>
      <a href="#">Contribute</a>
    </div>
    <div class="col-md-7">
      Using testimonios: 
      <a href="#">Instructors</a>
      <a href="#">Administrators</a>
      <a href="#">Students</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
